name: Format

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  black:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install Black
        run: pip install black
      - name: Check formatting
        run: black --check src/kattis tests
